/AuditLogServiceImpl.class
/BankTransferServiceImpl.class
/ConfigrationServiceImpl.class
/CustomersPrefrenceServiceImpl.class
/CustomersServiceImpl.class
/EntityContactServiceImpl.class
/InstitutionServiceImpl.class
/KeyCitiesServiceImpl.class
/MailServiceImpl.class
/MasterEntityServiceImpl.class
/UserProfileServiceImpl.class
